<html>
   <head>
      <title>Profiles</title>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
         rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" 
         integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
         integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link href="resources/css/style.css" rel="stylesheet" link type="text/css">
   </head>
   <body>
      <div class="container-fluid">
         <div class="row h-100">
            <div class="col-2">
               <div class="row logo-box">
                  <img class="mx-auto d-block" src="resources/img/logo.svg" alt="This is a placeholder"/>
               </div>
               <div class="row side-menu">
               </div>
            </div>
            <div class="col-10">
               <div class="row search-bar">
                  <div class="input-group form-group col-5 mt-2">
                     <input class="form-control border-right-0" placeholder="Search">
                     <span class="input-group-append bg-white">
                     <button class="btn border border-left-0" type="button"><i class="oi oi-magnifying-glass"></i></button>
                     </span>
                  </div>
               </div>
               <div class="row content-box">
                  Content 
               </div>
            </div>
         </div>
      </div>
   </body>
</html>